h1 TODO List

form.js-todo-form
	input(type="text", name="task", placeholder="awesome task")
	input(type="submit", value="save")

ul.js-todo-list

script(type="text/javascript", src="vendor/assets/components/jquery/dist/jquery.js")
script(type="text/javascript", src="main.js")